body{
    background-image: linear-gradient(to bottom, #66ffff 0%, #dd5634 90%);
    text-align: center;
    width: 500px;
    height: 600px;
    position: absolute;
    top: calc(25vh - 150px);
    left: calc(40vw - 150px);
    border-style: solid;
    border-radius: 10;
    border-color: rgb(3, 67, 88);
}
#level, #gameVar{
    justify-content: center;  
    display: flex;
    margin: auto;
}
#level >*{
    flex: 0 10px 100px;
}
#gameVar >*{
    flex: 0 0 150px;
}
#title{
    border-bottom: 2px solid rgb(2, 60, 80);
    font: 30px/30px "Courier New", Times, red serif;
    font-size: 65px;
    margin-left: 10px;
    margin-top: 10px;
    color: #ee5812;
}
#settings{
    border-bottom: 2px solid rgb(2, 60, 80);
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(192, 24, 24);
}
#gameVar{
    border-bottom: 2px solid rgb(2, 60, 80);
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(192, 24, 24);
}
#player{
    border-bottom: 2px solid rgb(2, 60, 80);
    font: "Times New Roman", Times, serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(192, 24, 24);
}
#keyboard{
    font-size: 15px;
    color: red;
    border-radius: 10px;
    border: solid 1px rgb(3, 67, 88);
    padding: 15px;
    background: rgb(248, 173, 173);
    width: 80%;
    outline: none;
    margin: 10px;
}
#restart{
    background: linear-gradient(to top, rgb(235, 195, 144) 0%, #ffffff 100%);
    font-size: 1em;
}
#restart:hover{
    background: rgb(241, 194, 154);
}
#restartDiv{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(236, 150, 79);
}
#gameOver{
    display: none;
    font-size: 2em;
  }